$signUpPage: #ffffff;
$borders: #d9d9d9;
$signInText: #8c8c8c;
$submit: #1890ff;

.signUpPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  width: 400px;
  background-color: $signUpPage;
  border-radius: 6px;
  box-shadow: 0 0.6087964177131653px 2.9332919120788574px 0 #00000005,
    0 1.4630224704742432px 7.049108028411865px 0 #00000007, 0 2.7547414302825928px 13.272845268249512px 0 #00000009,
    0 4.91398811340332px 23.67648696899414px 0 #0000000b, 0 9.19107437133789px 44.28426742553711px 0 #0000000d,
    0 22px 106px 0 #00000012;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.signUpPage__title {
  margin: 50px 0 20px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.signUpPage__inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.signUpPage__inputForm input[type='text'],
input[type='password'],
input[type='email'] {
  width: 320px;
  height: 40px;
  border: 1px solid $borders;
  border-radius: 4px;
  padding-left: 10px;
}

.signUpPage__inputForm input::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.signUpPage__inputField {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
}

.signUpPage__checkbox {
  margin: 10px 0 20px 0;
  width: 320px;
  font-size: 14px;
  line-height: 22px;
  border-top: 1px solid #e8e8e8;
}

.signUpPage__createButton {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  width: 320px;
  height: 40px;
  color: #ffffff;
  background-color: $submit;
  border: none;
  border-radius: 4px;
}

.signUpPage__signIn {
  color: $signInText;
  margin-bottom: 50px;
}

.signInPage__signInLink {
  text-decoration: none;
}
