$appHeader: #ffffff;
$blogTitle: rgba(0, 0, 0, 0.85);
$signInButton: rgba(0, 0, 0, 0.85);
$signUpButton: #52c41a;
$signUpButtonHover: #1890ff;
$createArticle: #52c41a;
$logOut: #000000bf;
$profileInfo: rgba(0, 0, 0, 0.85);

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: $appHeader;
}

.appHeader__blogTitle {
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: $blogTitle;
  margin-left: 20px;
  text-decoration: none;
}

.appHeader__sighLinks {
  display: flex;
  gap: 30px;
  align-items: center;
}

.appHeader__loggedInMenu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.appHeader__signInLink {
  border: none;
  cursor: pointer;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: $signInButton;
  background-color: transparent;
}

.appHeader__signUpLink {
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: $signUpButton;
  background-color: transparent;
  border: 1px solid $signUpButton;
  border-radius: 5px;
  padding: 10px 20px;
}

.appHeader__signUpLink:hover {
  background-color: $signUpButtonHover;
  color: #ffffff;
}

.appHeader__createArticle {
  padding: 6px 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $createArticle;
  text-decoration: none;
  border: 1px solid $createArticle;
  border-radius: 5px;
}

.appHeader__profileInfo {
  display: flex;
  align-items: center;
  gap: 13px;
  text-decoration: none;
  color: $profileInfo;
}

.appHeader__profileName {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.appHeader__profilePic {
  width: 46px;
  height: 46px;
}

.appHeader__logOut {
  margin-right: 20px;
  padding: 10px 15px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid $logOut;
  border-radius: 5px;
  background-color: transparent;
}
